.add {
  color: #555;
  max-width: 480px;
  margin: 60px auto;
}
.add label span {
  display: block;
  margin: 30px 0 auto;
}
.add p {
  margin-top: 10px;
  font-size: 0.8em;
}
.add button {
  display: block;
  width: 100px;
  font-size: 0.8em;
  color: #fff;
  padding: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #58249c;
  cursor: pointer;
  text-decoration: none;
  margin: 30px auto;
}

.genres {
  display: flex;
  align-items: center;
}
.genres button {
  margin: 0 0 0 5px;
}